<div class="app-card-ghost">

  <div *ngIf="data.reviewee">
    <div class="app-card-ghost-title"></div>
    <div class="d-flex align-items-center pb-2">
      <div class="align-self-center mr-2 rounded-circle app-card-ghost-avatar"></div>
      <div class="app-card-ghost-content">
        <div class="app-card-ghost-title"></div>
        <div class="app-card-ghost-subtitle"></div>
      </div>
    </div>
    <div class="app-divider"></div>
  </div>

  <div>
    <div class="app-card-ghost-title"></div>
    <div class="d-flex align-items-center">
      <div class="align-self-center mr-2 rounded-circle app-card-ghost-avatar"></div>
      <div class="app-card-ghost-content">
        <div class="app-card-ghost-title"></div>
        <div class="app-card-ghost-subtitle"></div>
      </div>
    </div>
    <div class="app-divider"></div>
  </div>

  <div class="app-card-ghost-title app-card-ghost-title-dark"></div>
  <div class="w-25 app-card-ghost-subtitle mb-1"></div>
  <div class="app-card-ghost-subtitle"></div>
  <div class="d-flex justify-content-between app-card-ghost-footer">
    <div class="app-card-ghost-btn mr-3"></div>
    <div class="app-card-ghost-btn"></div>
  </div>
</div>
<!--Commit#3-->
